{% extends "storage_base.html" %}
{% block title %}Заказы{% endblock title %}
{% block content %}
{% if not user.is_authenticated %}
  <p class="err">Авторизуйтесь.</p>
{% endif %}

    {% if user.is_authenticated %}

<section class="basket_sec">
    {{msg}}
    <table class="basket_table">
        <caption>{{text}}
      </caption>
      <thead>
        <tr>
            <th>№ Заказа</th>
            <th>Пункт выдачи</th>
            <th>Дата</th>
            <th>Ожидают</th>
        </tr>
      <tr>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                    {{count}}
                </th>

            </tr>
      </thead>
        <tbody>
        {% for order in orders %}
        <tr>

            <td>
                {{order.id}}
            </td>
            <td>
                {{order.order_point_id}}
            </td>
            <td>
                {{order.date}}
            </td>
            <td>
                <a href="{{url}}{{order.id}}">Принять</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>


    {% endif %}
{% endblock content %}